.top-panel{
    background-color: #dddddd;
}

/*.panel-1{
    background-image: url(../img/back-1.png);
    background-size: 200px 400px;
}*/

.panel-1{
    position: relative;
    h4 {
        margin-top: 300px;
        text-align: center;
        color: white;
    }
    h1{
        text-align: center;
        color: white;
        margin-bottom: 200px;
    }
}

.panel-2{
    position: relative;
    background-color: white;
    h1{
        text-align: center;
        padding: 100px;   
    }
    h2{
        text-align: center;
        padding: 20px;
    }
    p{
        text-align: center;
        margin-bottom: 100px;
    }
    .p2-logo{
        display:block;
        margin-right: auto;
        margin-left: auto;
    }
}

.panel-3{
    position: relative;
    h1{
        padding: 20px;
        margin-top: 350px;
        text-align: center;
        color: white;
        border: 7px solid white; 
    }
}
.bottom-panel{
    position: relative;
    bachgroud-color: black;
    h1, h5{
        text-align: center;
    }
}

.back-1 {
    position: absolute;
    width: 100%;
    z-index: -1;
}
