.top-panel{
    background-color: #EBF0FA;
    h1 {
        margin-bottom: 10px;
    }
    img {
        width: 90;
    }
}

/*.panel-1{
    background-image: url(../img/back-1.png);
    background-size: 200px 400px;
}*/

.panel-1{
    position: relative;
    h1 {
        margin-top: 350px;
        text-align: left;
        color: #EBF0FA;
        padding: 20px;
        margin-bottom: 60px;
    }
    h2{
        text-align: left;
        color: #EBF0FA;
        padding: 10px;
        margin-left:10px;
    }
}

.panel-2{
    position: relative;
    background-color: #EBF0FA;
    h1{
        text-align: center;
        padding: 100px;   
    }
    h2{
        text-align: center;
        padding: 20px;
    }
    p{
        text-align: center;
        margin-bottom: 100px;
    }
    .p2-logo{
        display:block;
        margin-right: auto;
        margin-left: auto;
    }
}

.panel-3{
    position: relative;
    h1{
        padding: 20px;
        margin-top: 380px;
        text-align: center;
        color: white;
        border: 7px solid #008cba; 
    }
}
.bottom-panel{
    position: relative;
    background-color: #00334C;
    h1, h5{
        text-align: center;
        color: #EBF0FA;
    }
    h5 {
        padding: 25px;
        color: #EBF0FA;
    }
}

.back {
    position: absolute;
    width: 100%;
    z-index: -1;
}
