.top-panel{
    background-color: #EBF0FA;
    h3 {
        margin-bottom: 10px;
    }
    img {
        height: 15%;
        padding: 5px;
    }
}

@media screen and (max-width: 990px) {
    .top-panel{
        background-color: #EBF0FA;
        h3 {
            margin-bottom: 10px;
            display:none;
        }
        img {
            height: 10%;
            padding: 1px;
        }
    }
}    
/*.panel-1{
    background-image: url(../img/back-1.png);
    background-size: 200px 400px;
}*/

.panel-1 {
    position: relative;
    background-color: #100F0D;
    z-index: -1;
    h1 {
        margin-top: 350px;
        text-align: left;
        color: #EBF0FA;
        padding: 20px;
        margin-bottom: 60px;
    }
    h2{
        text-align: left;
        color: #EBF0FA;
        padding: 10px;
        margin-left:10px;
    }
}

@media screen and (max-width: 990px) {
    .panel-1 {
        position: relative;
        background-color: #100F0D;
        z-index: -1;
        h1 {
            background-color: rgba(0,0,0,0);
            font-size: 30px;
            margin-top: 250px;
            text-align: left;
            color: #EBF0FA;
            padding: 5px;
            margin-left: 3px;
            margin-bottom: 2px;
        }
        h2{
            background-color: rgba(0,0,0,0);
            font-size: 24px;
            text-align: left;
            color: #EBF0FA;
            margin-left: 8px;
            padding: 0px;
            text-shadow: 2px 2px black;
        }
    }
}
.panel-2{
    position: relative;
    background-color: #EBF0FA;
    h1{
        text-align: center;
        padding: 60px;   
    }
    h2{
        text-align: center;
        padding: 20px;
    }
    p{
        text-align: center;
        margin-bottom: 80px;
    }
    ul{
        text-align: center;
    }
    .p2-logo{
        display:block;
        margin-right: auto;
        margin-left: auto;
        height: 100px;
    }
}

.panel-3{
    position: relative;
    background-color: #0A0B0F;
    z-index: -1;
    h1{
        padding: 20px;
        margin-top: 380px;
        text-align: center; 
    }
}

@media screen and (max-width: 990px){
    .panel-3 {
        position: relative;
        background-color: #0A0B0F;
        z-index: -1;
        h1{
            width: 250px;
            margin: 0 auto;
            font-size:34px;
            padding: 4px;
            margin-top: 280px;
            text-align: center;
        }
    }
}

.bottom-panel{
    position: relative;
    background-color: #00334C;
    h1, h5{
        text-align: center;
        color: #EBF0FA;
    }
    h5 {
        padding: 25px;
        color: #EBF0FA;
    }
}

.back {
    position: absolute;
    width: 100%;
    z-index: -1;
}

input, textarea{
    padding: 5px;
    margin-top: 5px;
    background-color: #EBF0FA;
    border: 2px ridge #B8B8B8;
}

.modal-header, .modal-body{
    background-color: #EBF0FA;
}


#get-in-touch{
    background-color: #0A0B0F;
    color: #008cba;
    border: 4px solid #008cba;
}