html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background: transparent;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9
}

#background canvas {
  width: 100%;
  height: 100%;
}

.slogan {
  background: transparent;
  text-shadow: 0 0 2px #000;
}
